/* Add a black background color to the top navigation */
.topnav {
  background-color: #244C60;
  overflow: hidden;
  position: fixed;
  display: inline;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#nav1{
    display: inline-block;
    width: 25%;
    font-size: 23px;
  font-weight: 700;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 2% 0 2% 0;
    position: relative;
    transition: all 0.2s;
  cursor: pointer;
}
#nav1:hover{
    display: inline-block;
    width: 25%;
  background-color: #EFF4F0 ;
    font-size: 23px;
  font-weight: 700;
    text-decoration: none;
    color: #244C60 ;
    text-align: center;
    padding: 2% 0 2% 0;
    position: relative;
    transition: all 0.2s;
  cursor: pointer;
}
  #nav2{
    display: inline-block;
    width: 25%;
    font-size: 23px;
  font-weight: 700;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 2% 0 2% 0;
    position: relative;
    transition: all 0.2s;
  cursor: pointer;
}
#nav2:hover{
    display: inline-block;
    width: 25%;
  background-color: #EFF4F0 ;
    font-size: 23px;
  font-weight: 700;
    text-decoration: none;
    color: #244C60 ;
    text-align: center;
    padding: 2% 0 2% 0;
    position: relative;
    transition: all 0.2s;
  cursor: pointer;
}
#nav3{
    display: inline-block;
    width: 25%;
    font-size: 23px;
  font-weight: 700;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 2% 0 2% 0;
    position: relative;
    transition: all 0.2s;
  cursor: pointer;
}
#nav3:hover{
    display: inline-block;
    width: 25%;
  background-color: #EFF4F0 ;
    font-size: 23px;
  font-weight: 700;
    text-decoration: none;
    color: #244C60 ;
    text-align: center;
    padding: 2% 0 2% 0;
    position: relative;
    transition: all 0.2s;
  cursor: pointer;
}
#nav4{
    display: inline-block;
    width: 25%;
    font-size: 23px;
  font-weight: 700;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 2% 0 2% 0;
    position: relative;
    transition: all 0.2s;
  cursor: pointer;
}
#nav4:hover{
    display: inline-block;
    width: 25%;
  background-color: #EFF4F0 ;
    font-size: 23px;
  font-weight: 700;
    text-decoration: none;
    color: #244C60 ;
    text-align: center;
    padding: 2% 0 2% 0;
    position: relative;
    transition: all 0.2s;
  cursor: pointer;
}
body{
  background-color: #EFF4F0;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #4985a3;
}
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: grey;
  color: white;
}

h1{
  margin-top: 25%;
  margin-left: 40%;
  font-size: 300%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}




/* The alert message box */
.alert {
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #ABABAB; /* Shade of Grey */
  color: white;
  margin-bottom: 15px;
}
.alert1 {
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #949494; /* Darker 1 */
  color: white;
  margin-bottom: 15px;
}
.alert2 {
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #7D7D7D; /* Darker 2 */
  color: white;
  margin-bottom: 15px;
}
.alert3 {
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #666666; /* Darker 3 */
  color: white;
  margin-bottom: 15px;
}
.alert4 {
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #4F4F4F; /* Darker 4 */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}