html,body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(245, 233, 221, 0.81)
    margin-top: 5%;
    margin-left: 17%;
    margin-bottom: 1%;

}
h1{
    color: #384640;
    margin-left: 21%;
    margin-top: 15%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
hr{
    color: #384640;
    margin-left: 9%;
    width:36.5%;
}
* {box-sizing: border-box}


/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
a{
   color: azure;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-decoration: none;
}
.Login{
    color: #4CAF50;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.signupbtn {
  padding: 14px 20px;
  background-color: #244C60;
}
.signupbtn1 {
  padding: 14px 20px;
  background-color: #244C60;
    margin-top: 10%;
}

/* Float cancel and signup buttons and add an equal width */
 .signupbtn {
     float: left;
  width: 25%;
     
    margin-left:7.4%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
}
 .signupbtn1 {
     float: bottom;
  width: 25%;
    
    margin-left:-25%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
}

/* Add padding to container elements */
.container {
  padding: 16px;
    align-content: center;
    margin-left: 8%;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
     width: 100%;
      margin-right: 5%; 
  }
}